.file-input
    display: none //dont show this since it is hard to style. Instead link the function to another button that can be styled

.upload-btn
  background-color: DodgerBlue
  border: none
  color: white
  padding: 12px 16px
  font-size: 16px
  cursor: pointer
  &:hover
      background-color: RoyalBlue

.editor
    width: 1600px

.ta-class
    width: 100%

.my-border
  width: 100%
  color: #555
  border: 1px solid #ccc
  border-radius: 4px
