<p>preview works!</p>

<div *ngIf="tmpUser"> {{tmpUser.username}} </div>
<markdown [src]="'../../assets/blog/first.md'" ></markdown>
<div><img [src]="tmpImage" width="500"></div>
<!-- <markdown [src]="'./assets/blog/first.md'"></markdown> -->
<!-- <div *ngIf="userList">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div> -->