<p>preview works!</p>
<div>
  <div *ngIf="tmpArt"> {{tmpArt.title}} </div>
   <markdown [data]="this.tmpBlogpost" ></markdown>
  <div class=""><img class="" [src]="tmpImage" width="500">
  </div>
</div>

<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        attach_file <!--<mat-icon>attach_file</mat-icon>-->
    </button>
</div>

<!-- <markdown [src]="'./assets/blog/first.md'"></markdown> -->
<!-- <div *ngIf="userList">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div> -->