<p>gallery works!</p>
<div class="gallerygrid">
  <div class="gallerycell" *ngFor="let art of this.pageGalleryList">
    
    <a routerLink="/artwork/{{art.id}}">
      <div class="artcontainer">
       <img class="" [src]="this.tmpImages[art.id]"  width="280px" > <!-- maxwidth = content_width/3 - padding*2 -->     
       <div class="overlay">Details</div> <!--rounded-->
      </div> 
        <span class="art-text">{{art.title}} </span>
    </a>  
  </div>  
</div>

<div class="row">
  <div class="col" >
    <a href="{{this.prevPageRef}}" *ngIf="this.pageNr>1">
    <button class="btn btn-primary"  type="button">Prev</button>
    </a>
  </div>

  <div class="col page-nr">{{this.pageNr}}/{{this.nrPages}}</div>

  <div class="col" >
    <a href="{{this.nextPageRef}}" *ngIf="this.isNextPage">
    <button class="btn btn-primary next-position"  type="button" >Next</button> <!---->
    </a>
  </div>
</div>


