<!-- <div>
  <div *ngIf="tmpArt"> {{tmpArt.title}} </div>
   <markdown [data]="this.tmpBlogpost" ></markdown>
  <div class=""><img class="" [src]="tmpImage" width="500">
  </div> 
</div> -->
<div class="editor">
  <div class="container ">
    <div class="row">
      <div class="col w-50">
        EDITOR
      <textarea [(ngModel)]="tmpBlogpost" class="ta-class win-size" id="textEditMarkdown">{{tmpBlogpost}}</textarea>
      </div>
      <div class="col w-50 ">
        PREVIEW
        <div class="my-border win-size">
          <markdown [data]="this.getEditMarkdownText()"></markdown>
        </div>
      </div>
    </div>
  

    <div class="w-100"><!--BUTTONS-->
    <button class="btn btn-info btn mt-1" (click)="this.uploadMdFile()" title="">
      <span class="bi-save"> Save</span> 
    </button>

    <div class="w-100"></div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
      <button type="button" class="btn btn-info btn" (click)="fileUpload.click()" title="Choose a file">
        <span class="bi bi-folder"></span>
      </button>    
      <button class="btn btn-info btn m-1" (click)="this.uploadImgFile()" title="Upload!"  [disabled]="!formData">
        <span class="bi-upload"></span> 
      </button>
      {{fileName || "No file selected yet."}}
      <div><span>{{uploadStatus}}</span></div>
    
  </div>
</div>
</div>